APP_PORT=3000
PORT=3000
DB_USER=sgp_user
DB_PASSWORD=sgp_password
DB_NAME=sgp
DATABASE_URL=postgresql://sgp_user:sgp_password@localhost:5432/sgp
JWT_SECRET=sgp_super_secret_2026
JWT_EXPIRES_IN=30m
NODE_ENV=development
VITE_API_URL=http://localhost:3000
FRONTEND_PORT=8080
BREVO_API_KEY=api
BREVO_SENDER_EMAIL=correo
BREVO_SENDER_NAME=SGP
